<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset= "utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<title>Available Subjects</title>
</head>


<body>
<div class="container">

  <h2>Available subjects</h2>

  <br> <br> <hr> <br> <br>

  <h4>Logged as: <span sec:authentication="name"></span></h4>
  <h4>Has role: <span sec:authentication="authorities"></span></h4>



  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Professor</th>
      <th>Apply</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="subject : ${subjectList}">

      <td th:text="${subject.title}" />
      <td th:text="${subject.description}" />
      <td th:text="${subject.getProfessor().getFirstName()+subject.getProfessor().getLastName()}" />
      <td>
        <a th:href="@{/student/apply-subject(subjectId=${subject.subjectId}, thisStudentId= ${student})}"
           class="btn btn-primary btn-sm mb-3"
           onclick="if (!(confirm('Are you sure you want to apply for this subject?'))) return false">
          Apply
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <br> <br> <hr> <br> <br>

  <p>
    <a th:href="@{/student/dashboard}" class="btn btn-primary btn-sm mb-3">Home</a>
  </p>
</div>


</body>
</html>