<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Update Information</title>
</head>

<body>
	
	<div class="container">
	
		<h3>Student Information</h3>
		<hr>
		
		<p class="h4 mb-4">Save Student </p>
	
		<form th:action="@{/student/save_details}"
						 th:object="${student}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{studentId}" />
			
			<input type="text" th:field="*{firstName}"
					class="form-control mb-4 col-4" placeholder="First name">

			<input type="text" th:field="*{lastName}"
					class="form-control mb-4 col-4" placeholder="Last name">

			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email">

			<input type="number" th:field="*{averageGrade}"
				   class="form-control mb-4 col-4" placeholder="Email" min="0" max="10" step="0.01" value="0">

			<input type="number" th:field="*{remainingCourses}"
				   class="form-control mb-4 col-4" placeholder="Email" min="0" max="100" step="1" value="0">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/student/dashboard}">Back to Dashboard</a>-->
		
	</div>
</body>

</html>
