<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>User Dashboard</title>
</head>


<body>

<div class="container">

  <h2>Welcome to User Dashboard</h2>
  
  <br> <br> <hr> <br>
  
  <h4>Logged as: <span sec:authentication="name"></span></h4>
  <h4>Has role: <span sec:authentication="authorities"></span></h4>
    <br>
  <div th:object="${professor}">
      <h5>First Name: <span th:text="*{firstName}"></span></h5>
      <h5>Last Name: <span th:text="*{lastName}"></span></h5>
      <h5>Email: <span th:text="*{email}"></span></h5>
      <br>
      <a th:href="@{/professor/change}" class="btn btn-primary btn-sm mb-3">Update Information</a>
  </div>

    <span th:utext="${successMessage}" style="color:firebrick"></span>

    <h3>My assigned theses</h3>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Student</th>
            <th>Grade</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="thesis : ${thesisList}">

            <td th:text="${thesis.title}" />
            <td th:text="${thesis.description}" />
            <td th:text="${thesis.getStudent().getFirstName()} +' '+
            ${thesis.getStudent().getLastName()} + ', ' + ${thesis.getStudent().getEmail()}"/>
            <td th:text="${thesis.getGrade()}"></td>
            <td>
                <a th:href="@{/professor/update-grade(thesisId=${thesis.getTId()})}"
                   class="btn btn-primary btn-sm mb-3">Update Grade</a>
            <td/>
        </tr>
        </tbody>
    </table>

    <br>

    <h3>My Subjects</h3>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="subject : ${subjectList}">

            <td th:text="${subject.title}" />
            <td th:text="${subject.description}" />
            <td>

                <a th:href="@{/professor/delete-subject(subjectId=${subject.subjectId})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                    Delete
                </a>

                <a th:href="@{/professor/applications(subjectId=${subject.subjectId})}"
                   class="btn btn-info btn-sm">
                    View Applications
                </a>

            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/professor/create-subject}" class="btn btn-primary btn-sm mb-3">Create Subject</a>


	<br> <br> <hr> <br> <br>

    <p>
    	<a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Home</a>

    	<a th:href="@{/logout}" class="btn btn-danger btn-sm mb-3">Logout</a>
    
    </p>

</div>

</body>
</html>